{% extends "base.html" %}

{% block body %}

<div class="from-cyan-500 via-indigo-600 to-rose-400">
    <div class="container mx-auto flex flex-wrap justify-between items-center py-3">
        <!-- Left side text -->
        <p class="text-fuchsia-600 lg:text-6xl text-2xl md:text-3xl py-auto px-auto px-5">
            <span class="lg:text-6xl text-20xl font-semibold text-purple-900">Tech </span> <span class="lg:text-6xl text-20xl font-bold text-purple-900"></span> is not 🚀 Science.<br>
            Just RAG it.<br>
        </p>


    </div>
    <div class="container mx-auto p-5">
            <p class="text-orange-800 text-xl flex flex-wrap md:text-2xl lg:text-3xl">
                We are Gearing Up for the Future 💡 Are you 🛫
            </p>
    </div>


    <!-- Section with description -->
    <div class="container mx-auto px-5">
            <p class="text-slate-900 flex font-semibold flex-wrap md:text-xl lg:text-2xl">
                ⛓️‍💥 Open Source is our Passion and ❤️.
            </p>

        <div class=" container py-10 mx-auto rounded-lg ml-15 px-15 flex justify-between flex-wrap ">
            <p class="flex rounded-lg  border-fuchsia-900 text-purple-800 border ">
                <a href="https://s9lab.dev/rust-ai-ml-repo/" class="bg-opacity-10 backdrop-blur-lg shadow-lg overflow-hidden hover:bg-purple-100  text-lg text-purple hover:text-black p-2 rounded-2xl ">  See our Open Source App ⨠
                </a>
            </p>
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}